body {
    margin: 0;
    font-family: Poppins, sans-serif;
    background: linear-gradient(135deg, #141E30, #243B55);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.container {
    width: 420px;
    padding: 25px;
    border-radius: 15px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 20px rgba(255, 255, 255, .2);
    text-align: center;
}

.subtitle {
    opacity: 0.8;
    margin-bottom: 20px;
}

button {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    font-size: 18px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    background: #00f2fe;
    color: #000;
    font-weight: bold;
    transition: 0.2s;
}

button:hover {
    background: #4facfe;
}

#transcript {
    width: 100%;
    height: 120px;
    border-radius: 10px;
    padding: 10px;
    border: none;
    outline: none;
    resize: none;
    margin-top: 10px;
    font-size: 16px;
}

#output {
    margin-top: 20px;
    padding: 10px;
    border-radius: 8px;
    text-align: left;
    background: rgba(255, 255, 255, 0.2);
    font-size: 16px;
}
